<div class="about text-center">
  <div class="parent">
    <div class="info">
      <h2>ABOUT COMPONENT</h2>
      <div class="star d-flex align-items-center justify-content-center mb-3">
        <div class="line me-3"></div>
        <i class="fa-solid fa-star" style="color: #ffffff"></i>
        <div class="line ms-3"></div>
      </div>
    </div>
    <div class="container text-white">
      <div class="row px-5">
        <div class="col-md-6 ps-md-5">
          <p>
            Freelancer is a free bootstrap theme created by Route. The download
            includes the complete source files including HTML, CSS, and
            JavaScript as well as optional SASS stylesheets for easy
            customization.
          </p>
        </div>
        <div class="col-md-6 pe-5">
          <p>
            Freelancer is a free bootstrap theme created by Route. The download
            includes the complete source files including HTML, CSS, and
            JavaScript as well as optional SASS stylesheets for easy
            customization.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
