<div class="contact text-center">
  <div class="container">
    <div class="info">
      <h2>CONTACT SECTION</h2>
      <div class="star d-flex align-items-center justify-content-center mb-3">
        <div class="line me-3"></div>
        <i class="fa-solid fa-star" style="color: #2c3e50"></i>
        <div class="line ms-3"></div>
      </div>
    </div>
    <form
      novalidate=""
      action=""
      class="w-75 p-3 mx-auto mt-5"
    >
      <label
        for="userName"
        class="position-relative top-0 __top"
        ></label
      ><input
        id="userName"
        type="text"
        placeholder="userName"
        name="userName"
        class="form-control border-0 border-bottom py-3 position-relative "
      /><label
        for="userAge"
        class="position-relative top-0 __top"
        ></label
      ><input
        id="userAge"
        type="text"
        placeholder="userAge"
        name="userName"
        class="form-control border-0 border-bottom py-3 position-relative "
      /><label
        for="userEmail"
        class="position-relative top-0 __top"
        ></label
      ><input
        id="userEmail"
        type="text"
        placeholder="userEmail"
        name="userName"
        class="form-control border-0 border-bottom py-3 position-relative "
      /><label
        for="userPassword"
        class="position-relative top-0 __top"
        ></label
      ><input
        id="userPassword"
        type="text"
        placeholder="userPassword"
        name="userName"
        class="form-control border-0 border-bottom py-3 position-relative "
      /><button
        class="btn mt-4 text-white"
        style="background-color: #1abc9c"
      >
        send Message
      </button>
    </form>
  </div>
</div>
