<div class="portfolio text-center">
  <div class="info">
    <h2>PORTFOLIO COMPONENT</h2>
    <div class="star d-flex align-items-center justify-content-center">
      <div class="line me-3"></div>
      <i class="fa-solid fa-star" style="color: #2c3e50"></i>
      <div class="line ms-3"></div>
    </div>
  </div>
  <div class="container p-5">
    <div class="row g-5">
      @for (item of images; track $index) {
      <div class="item col-lg-4 col-md-6">
        <div
          class="rounded-3 overflow-hidden position-relative"
          (click)="openModal(item)"
        >
          <img [src]="item.image" alt="port1" class="w-100 rounded-3" />
          <div
            class="layer position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center"
          >
            <i class="text-white fa-solid fa-plus fa-6x"></i>
          </div>
        </div>
      </div>
      }
      <div class="clear"></div>
    </div>
  </div>
  <div
    class="model"
    (click)="closeModel()"
    [class.d-none]="!isModuleOpen"
    [class.d-block]="isModuleOpen"
  >
    <div class="img">
      <img [src]="selectedImage" alt="" />
    </div>
  </div>
</div>
