.contain {
  background-color: #1abc9c;
  height: 623.6px;
  margin-top: 86px;
}
.parent{
  position: relative;
  padding-top: 100px;
}
.parent img {
  width: 250px;
  height: 265.15px;
  margin-bottom: 16px;
}
h2 {
  color: white;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 16px;
}
.line {
  height: 4px;
  width: 80px;
  background-color: white;
}
.skills {
  color: white;
  font-size: 16px;
  font-weight: 400;
}
.info
{
  padding-top: 24px;
}
.star{
  margin-bottom: 16px;
}
