<div class="contain">
  <div
    class="parent d-flex justify-content-between align-items-center flex-column"
  >
    <img [src]="avataaar" alt="avataaars" />
    <div class="info">
      <h2>START FRAMEWORK</h2>
      <div class="star d-flex align-items-center justify-content-center mb-3">
        <div class="line me-3"></div>
        <i class="fa-solid fa-star" style="color: #ffffff"></i>
        <div class="line ms-3"></div>
      </div>
    </div>
    <div class="skills">Graphic Artist - Web Designer - Illustrator</div>
  </div>
</div>
